name: Python commit pipeline
run-name: ${{ github.actor }} made a commit

on:
  push:
    branches: [ ftr/* ]
      #    paths: [ training/** ]

jobs:
  pylint:
    name: "Check with Pylint"
    runs-on: ubuntu-latest
    steps:
    - uses: cclauss/GitHub-Action-for-pylint@0.7.0

  black:
    name: "Check formatting with Black"
    runs-on: ubuntu-latest
    steps:
    - uses: psf/black@stable

  gitleaks:
    name: "Check for leaks in secrets with gitleaks"
    runs-on: ubuntu-latest
    needs: unit-test
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: gitleaks/gitleaks-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  sonar_cloud:
    name: "Run SonarCloud"
    runs-on: ubuntu-latest
    needs: gitleaks
    steps:
    - uses: actions/checkout@v4
    - uses: AppThreat/sast-scan-action@master
      with:
        type: "python"

